:root {
  --primaryColor: #19a2ae;
  --secondaryBlueColor: #2d3248;
  --secondaryGrayColor: #6a6f81;
  --complementaryGrayColor: #969696;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-color: var(--primaryColor);
}

main {
  min-width: 300px;
  width: 500px;
  padding: 30px;
}

.cardContainer {
  border-radius: 10px;
  background-color: white;
  overflow: hidden;
}

.profileBackground {
  width: 100%;
  height: 190px;
}

.profileBackground img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
